<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">

    <ion-slide-box auto-play="true" does-continue="true" slide-interval="4000">
      <ion-slide>
          <img style="width: 100%" src="/img/photo-1.png">
      </ion-slide>
      <ion-slide>
          <img style="width: 100%" src="/img/photo-2.png">
      </ion-slide>
      <ion-slide>
          <img style="width: 100%" src="/img/photo-3.png">
      </ion-slide>
    </ion-slide-box>


    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="email" ng-model="user.username">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="contraseña" ng-model="user.password">
        </label>
    </div>
    <button class="button button-block button-calm" ng-click="login()">Identificate</button>
    <button class="button button-block button-calm" ui-sref="signup">Registrate</button>
    <button class="button button-block button-clear button-calm" ng-click="forgot()">Olvide mi contraseña</button>
  </ion-content>
</ion-view>