<ion-view view-title="Perfil">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>

    <div class="list list-inset">
        <label class="item item-input">
            <input type="email" ng-model="user.email" placeholder="Email">
        </label>
        <label class="item item-input">
            <input type="password" ng-model="user.password" placeholder="Password">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Date of Birth</span>
            <input type="date" ng-model="user.dob">
        </label>
    </div>
    
  </ion-content>
</ion-view>
